<!DOCTYPE html>
<html>
    <head>
        <title>Ouroboros | Login</title>
    </head>
    <body>
        <div class="login-container">
            <form action="" method="post">
                <label>Username:</label>
                <input type="text" name="username">
                <br>
                <label>Password:</label>
                <input type="password" name="password">
                <br>
                <input type="submit" value="Login">
                {% if error %}<strong>{{ error }}</strong>{% endif %}
            </form>
        </div>
    </body>
</html>